@import "../modules/pantone";

.logotext {
  color: $deep;
  font-weight: 300;
  text-decoration: none;
}

.logotext:hover {
  text-decoration: none;
}

.loginbutton {
  background-color: $deep;
  border: none;
  font-size: 15px;
}

.header {
  background-color: $deep;
  padding: 0!important;
}

.searchbutton {
  background-color: white;
  border-top: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  color: $deep;
}

.unselectable {
  user-select: none;
}
