@import '../modules/pantone';

.ourplans1 {
    background: url("../img/11_splash.png") no-repeat center center;
    width: 100%;
    height: 100%;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ourplans2{
    background: rgba(white, 0.4);
    border-radius: 1%;
    padding: 4%;
    margin-top: 2%;
}

.CardTitle{
    font-weight: 700;
}

.content{
    background:rgba($sand, 0.5);
    border-radius: 2%;
    text-align: center;
    border: none;
}

#cards {
    border-radius: 10%;
    height: auto;
    border: none;
}

.bntregister{
    align-items: center;
    background-color: #00677D;
    color: white;
    margin-left: 50%;
}

.fa-li{
    color: rgb(108, 224, 250);
}

.principal{
    color: white;
    font-size: small;
}

.lista{
    list-style: none;
}