@import "./_pantone.scss";

.todays-bgimage {
  //background: url("../img/2_florida.png") fixed;
  background: rgba($sand, 0.5);
  margin: 0;
  padding: 40px;
}

.white-overlay {
  background-color: rgba(white, 0.5);
  padding: 30px;
  border-radius: 15px;
  position: relative;
  width: auto;
}

.first-row {
  margin: 30px 0 30px 0;
}

.second-row {
  margin: 0;
}